body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

/* Footer-top */
.footer-top {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.innovation-icon {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 40px;
}

.payment-icon {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    align-items: center;
    gap: 40px;
    margin: -10px;
}

.order-icon {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Contact-footer */
.contact-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 4px;
}

/* 1 */
.sub-container-one {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    padding-bottom: 4px;
}

.follow {
    display: flex;
    gap: 24px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.phone-num-info {
    display: flex;
    gap: 24px;
}

.email-info {
    display: flex;
    gap: 24px;
}

/* 2 */

.sub-container-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 36px;
    font-size: 16px;
}

.input-box input {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid black;
    padding: 12px 40px;
    border-radius: 5px;
}

.input-box button {
    background-color: rgba(0, 0, 0, 1);
    padding: 12px 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.input-box button:hover {
    transform: translateY(-2px);
}

.policy {
    display: flex;
    gap: 16px;
}

.policy a {
    color: black;
    transition: transform 0.1s ease;
}

.policy a:hover {
    transform: translateY(-2px);
    text-decoration: none;
}
